.footer{
    background-image: url(/images/ramo-cerejeira-2.png);
    background-size: 14%;
    
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #F2C4D5;
}
.Text1{
    margin-left: 25vw;
}
.Text2{
    padding-left: 8vw;
}
.Text3{
    padding-left: 8vw;
}
.TextG{
    padding-top: 4vh;
    font-family: 'Quicksand';
    font-size: 1.3vw;
    font-weight: 400;
    color:black;
    max-height: 100vh;
}
.TextG1{
    padding-top: 1vh;
    font-family: 'Quicksand';
    font-size: 1.3vw;
    font-weight: 400;
    color:black;
    max-height: 100vh;
}
.historia{
    background-color:  #733840;
}
.LinkF{
    color: black;
    font-family: 'Quicksand';
    font-size: 1.3vw;
    font-weight: 400;
    text-decoration: underline;
}
.sakuraFooter{
    margin-left: 10vw;
    height: 25vh; 
}

@media only screen and (width < 800px){
    /* for cellphones*/
    .footer{
        background-image: url(/images/rosa.png);
        height: 25vh;
        background-size: 30%;
    }
    .Text1{
        margin-left: 6vw;
    }
    .TextG{
        color: #722f37;
        font-size: 2.5vw;
    }
    .TextG1{
        padding-top: 1vh;
        font-family: 'Quicksand';
        font-size: 2.2vw;
        font-weight: 400;
        color:black;
        max-height: 100vh;
    }
    .LinkF{
        color: black;
        font-family: 'Quicksand';
        font-size: 2.2vw;
        font-weight: 400;
        text-decoration: underline;
    }
    .Text2{
        padding-left: 3vw;
    }
    .Text3{
        padding-left: 5vw;
    }
    .sakuraFooter{
        position: absolute;
        margin-top: 3vh;
        margin-left:3vw;
        width: 18vw;
        height: 15vh;
    }
}